 .full_height{
     height: 100% 
}
.bottom_al{
     bottom:0px;
}
.fixed{
     position: fixed;
     background-color: #3c4556;
}
 .location_tab{
     border:10px solid #3c4556;
     border-radius:15px;
     background-color: #282a36;
     height:650px;
     overflow-y: scroll;
}
 #data_tab{
     color: #50fa7b;
}
 .control_tab{
     height:100px
}

 .control_p{
    color: #f1fa8c;
    display: block;
    margin-left: auto;
    margin-right:auto;
 }
 .control_button:active{
    border: 2px solid white;
    transform: translateY(-10px)
 }
 .control_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    background-color: #3c4556;
    border-radius: 5px;
    border:none;
    color:white;
    width:80%;
 }
 .control_input{
   width : 90%;
   background-color:#282a36;
   border-radius: 5px;
   border: 2px solid #3c4556;
   color: #f8f8f2
}
 .center_block{
     display: block;
     margin-left: auto;
     margin-right: auto;
}
 .control_col{
     border: 10px solid #3c4556;
     background-color: #282a36;
     border-radius:15px;
     height:100px
}
 .not_moving_alert{
     color: #ff5555;
     animation-name:nm_alert;
     animation-duration: 2s;
     animation-iteration-count:infinite;
}
 @keyframes nm_alert{
     from{
        color:#50fa7b;
    }
     to{
        color:#ff5555;
    }
}
 .no_update_alert{
     color: #ffb86c;
     animation-name:nu_alert;
     animation-duration: 2s;
     animation-iteration-count:infinite;
}
 @keyframes nu_alert{
     from{
        color:#50fa7b;
    }
     to{
        color:#ffb86c;
    }
}
