<!doctype html>
<html lang="en">
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/dashboard.js')}}"></script>
</head>
<body>
<div class="container-fluid ">
    <div class="row  control_tab">
        <div class="col control_col">
            <div class="row c_label">
                <p class="control_p"> Enter Owner Id </p>
            </div>
            <div class="row c_input">
                <input type="text" id="owner_input" class="control_input center_block">
            </div>
        </div>
        <div class="col control_col">
            <div class="row c_label">
                <p class="control_p"> Enter Api Key </p>
            </div>
            <div class="row c_input">
                <input type="text" id="api_input" class="control_input center_block">
            </div>
        </div>
        <div class="col control_col">
            <div class="row c_label">
                <button id="sub" class="control_button">SUBSCRIBE</button>
            </div>
            <div class="row c_input">
                <button id="un_sub" class="control_button">UNSUBSCRIBE</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="dashboard">
    <div class="row location_tab" id="location_data_tab">
        <table class="table" id="data_tab">
            <thead>
            <tr>
                <th>Drone-ID</th>
                <th>Latitude</th>
                <th>longitude</th>
                <th>Altitude</th>
                <th>Speed (m/s)</th>
                <th>Last Updated</th>
            </tr>
            </thead>
            <tbody id="tab_body">

            </tbody>
        </table>
    </div>
</div>


</body>
</html>

